/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* PAGE STYLE BEGINS */


/* CROSS SECTION STYLE */

:root {
	--titlefont: "titlefont", Impact, Haettenschweiler, 'Arial Narrow Bold', cursive, sans-serif;
	--regfont: "regfont", "regfont", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--strongblue: #60a5fa;
	--coolblue: #bfdbfe;
	--darkcoolblue: #93c5fd;
	--greyblue: #dbeafe;
	--offwhite: #eff6ff;
	--indigo: #818cf8;
	--lightindigo: #e0e7ff;
	--deepindigo: #4338ca;
	--easyblue: #c7d2fe;
	--slate: #1e293b;
	--green: #86efac;
	--red: #fda4af;
	--banana: #fde68a;
	--ghostbanana: #fef3c7;
}

@font-face {
	font-family: "titlefont";
	src: url('media/Bangers-Regular.ttf');
}

@font-face {
	font-family: "regfont";
	src: url('media/SplineSans-VariableFont_wght.ttf');
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 4fr;
	font-family: var(--regfont);
	color: var(--slate);
}

button {
	font-family: var(--regfont);
	color: var(--slate);
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

label {
	font-size: 18px;
}

input {
	height: 25px;
	font-size: 15px;
	border: 2px solid var(--indigo);
	background-color: var(--ghostbanana);
	border-radius: 5px;
}

input:focus {
	outline-color: var(--deepindigo);
}

input[type=date] {
	font-family: var(--regfont);
}

.newButton {
	background-color: var(--banana);
}

.newButtonIcon {
	padding-right: 3px;
	font-weight: 700;
}

.inputButton {
	padding: 8px;
}

.addButton {
	background-color: var(--green);
}

.cancelButton {
	background-color: var(--red);
}

/* HEADER STYLE */


#header {
    grid-area: 1 / 1 / 2 / 3;
	color: var(--offwhite);
    background-color: var(--strongblue);
	display: grid;
	grid-template-columns: 2fr 4fr 1fr;
	justify-items: baseline;
	align-items: center;
}

#headerTitle {
	font-size: 60px;
	font-weight: 400;
	font-family: var(--titlefont);
}

#sidebarToggle {
	justify-self: center;
	background-image: url("media/bars.svg");
	height: 40px;
	width: 40px;
	border: none;
	background-color: transparent;
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
}

#githubLink {
	height: 24px;
	width: 24px;
	margin: 5px;
	background-repeat: no-repeat;
	background-image: url('media/github.svg');
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
	transition: 0.3s;
}

#githubLink:hover {
	filter: invert(81%) sepia(52%) saturate(326%) hue-rotate(357deg) brightness(104%) contrast(98%);
}

/* SIDEBAR STYLE */


#sidebar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--coolblue);
	display: grid;
	grid-auto-rows: min-content;
	gap: 15px;
	padding: 25px;
	min-width: 217px;
}

#sidebarMain {
	display: grid;
	grid-auto-rows: min-content;
	gap: 5px;
}

.projectImg {
	height: 22px;
	width: 22px;
	justify-self: end;
}

#PriorityImg {
	background-image: url("media/star.svg");
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
}

#AllImg {
	background-image: url("media/home.svg");
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
}

#projectTitle {
	font-size: 26px;
	font-weight: 700;
	margin-top: 10px;
}

#newProjectButton {
	width: fit-content;
	font-size: 15px;
	padding: 8px;
	box-shadow: 2px 2px var(--slate);
}

#projectPrompt {
	display: none;
	background-color: var(--greyblue);
	border-radius: 5px;
}

#projectInput {
	display: flex;
	flex-direction: column;
	padding: 5px;
	gap: 5px;
}

#projectContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project {
	padding: 10px;
	min-height: 44px;
	border-radius: 5px;
	background: none;
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: baseline;
	font-size: 20px;
}

.project:hover {
	background-color: var(--darkcoolblue);
}

.activeProject {
	background-color: var(--darkcoolblue);
	font-weight: 700;
}

.projectDelete {
	display: none;
	background-image: url("media/delete.svg");
	background-color: transparent;
	height: 18px;
	width: 18px;
	justify-self: end;
	grid-column: 2 / 3;
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
}


/* MAIN STYLE */

#main {
	background-color: var(--offwhite);
	padding: 20px;
	display: grid;
	grid-auto-rows: min-content;
	gap: 20px;
}

#mainTitle {
	height: 40px;
	font-size: 40px;
	font-weight: 700;
	color: var(--offwhite);
	background-color: var(--indigo);
	padding: 50px;
	border-radius: 5px;
}

#newTaskButton {
	font-size: 18px;
	border-radius: 5px;
	width: fit-content;
	padding: 10px;
	box-shadow: 2px 2px var(--slate);
}

#taskPrompt {
	display: none;
	color: var(--slate);
	background-color: var(--lightindigo);
	padding: 20px;
	border-radius: 5px;
}

#taskInput {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#taskInput > input {
	margin-bottom: 4px;
}

.promptButtonContainer {
	align-self: center;
}

.newTaskContainer {
	background-color: var(--easyblue);
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: 1fr 5fr 2fr repeat(2, 1fr);
	border-radius: 5px;
	align-items: center;
	padding: 8px;
	margin-bottom: 20px;
	min-height: 46px;
	max-height: 46px;
	overflow: hidden;
	transition: all 0.8s ease-in-out;
}

.newTaskContainer:hover, .newTaskContainer:active {
	height: fit-content;
	max-height: 1000px;
}

.taskName {
	font-weight: 700;
	font-size: 18px;
}

.taskCheck {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
}

.taskName {
	grid-column: 2 / 3;
}

.taskDesc {
	grid-area: 2 / 2 / 3 / 3;
}

.taskCheck, .taskDelete, .taskPriority {
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	filter: invert(14%) sepia(10%) saturate(2318%) hue-rotate(179deg) brightness(91%) contrast(93%);
}

.taskPriority {
	background-image: url("media/star.svg");
	/* color should be slightly darker than background, so it looks indented */
}

.taskDelete {
	background-image: url("media/delete.svg");
}

.taskCheck {
	background-image: url("media/check.svg");
}

.taskPriorityActive {
	filter: invert(38%) sepia(86%) saturate(3949%) hue-rotate(272deg) brightness(105%) contrast(87%);
}

.completedTask {
	opacity: 50%;
}

.completedTask > p:first-child {
	text-decoration: line-through 2px;
}

.completedTask > .taskCheck {
	background-image: url("media/checkfull.svg");
	filter: invert(38%) sepia(86%) saturate(3949%) hue-rotate(272deg) brightness(105%) contrast(87%);
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
	
	}
	#main {
		height: 100%;
	}
}