/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* PAGE STYLE BEGINS */


/* CROSS SECTION STYLE */

:root {
	--titlefont: "titlefont", Impact, Haettenschweiler, 'Arial Narrow Bold', cursive, sans-serif;
	--regfont: "regfont", "regfont", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
	font-family: "titlefont";
	src: url('media/PermanentMarker-Regular.ttf');
}

@font-face {
	font-family: "regfont";
	src: url('media/SplineSans-VariableFont_wght.ttf');
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 4fr;
	font-family: var(--regfont);
}

button {
	font-family: var(--regfont);
}


/* HEADER STYLE */


#header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgba(100, 100, 100, 20%);
	display: grid;
	grid-template-columns: 1fr 4fr;
	justify-items: baseline;
	align-items: center;
}

#headerTitle {
	font-size: 60px;
	font-weight: 700;
	font-family: var(--titlefont);
}

#sidebarToggle {
	justify-self: center;
	background-image: url("media/bars.svg");
	height: 40px;
	width: 40px;
	border: none;
	background-color: transparent;
}


/* SIDEBAR STYLE */


#sidebar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgba(236, 44, 44, 0.2);
}

#sidebarMain {
	display: grid;
	grid-auto-rows: 20px;
}

#projectPrompt {
	display: none;
	background-color: aqua;
	padding: 5px;
}

#projectInput {
	display: flex;
	flex-direction: column;
}

#projectContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project {
	min-height: 20px;
}

.activeProject {
	background-color: blueviolet;
}

.projectDelete {
	background-image: url("media/delete.svg");
	height: 18px;
	width: 18px;
}


/* MAIN STYLE */

#main {
	padding: 20px;
	display: grid;
	grid-auto-rows: min-content;
	gap: 20px;
}

#mainTitle {
	font-size: 40px;
	font-weight: 700;
	background-color: blue;
	padding: 50px;
}

#newTaskButton {
	font-size: 18px;
	height: 120%;
	border-radius: 50px;
}

#taskPrompt {
	display: none;
	background-color: limegreen;
	padding: 20px;
	border-radius: 5px;
}

#taskInput {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.promptButtonContainer {
	align-self: center;
}

.newTaskContainer {
	background-color: brown;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 3fr 2fr repeat(3, 1fr);
	align-items: center;
	padding: 8px;
	margin-bottom: 20px;
}

.taskName {
	font-weight: 700;
	font-size: 18px;
}

.taskDesc {
	grid-area: 2 / 1 / 3 / 2;
}

.taskDate, .taskCheck, .taskDelete, .taskPriority {
	grid-row: 1 / 3;
}

.taskCheck, .taskDelete, .taskPriority {
	height: 30px;
	width: 30px;
	border: none;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
}

.taskPriority {
	background-image: url("media/star.svg");
}

.taskDelete {
	background-image: url("media/delete.svg");
}

.taskCheck {
	background-image: url("media/check.svg");
}

.taskPriorityActive {
	filter: invert(79%) sepia(69%) saturate(1155%) hue-rotate(358deg) brightness(100%) contrast(106%);
}